$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 500px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1365px)";
$max-tablet-wrapper: 991px;

$min-desktop-width: "(min-width: 1366px)";
$max-desktop-wrapper: 1400px;

$text-main-color: #333333;
$main-bg: #ffffff;

$links-color: #000000;

$font-main: "pt-sans", "Arial", sans-serif;

$logo-color: #4a934d;

$btn-color: #4c9650;

$percent-color: #333333;

$progress-container-color: #f3f3f3;

$calc-wrapper-padding: 11px;

$stage-btn-color: #57c3dd;

$black-ottenok: #212531;

$footer-txt-color: #888888;

$callback-link-color: #9ccf66;